body {
    margin-left: 2em;
    margin-right: 2em;
}

.indent {
    background-color: rgba(0,80,100,0.05);
    padding-left: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.center, li {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

li {
    font-size: 20px;
    padding: 0.25em;
    list-style-type: none;
}
