body {
    background-color: #EEEEEE;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

pre {
    padding: 1em;
    background-color: rgba(20, 20, 80, 0.05);
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

td, th { padding: 4px; }

img { max-width: 100%; }

.quote { 
    padding: 1em;
    background-color: rgba(20, 20, 80, 0.05); 
}
