body {
    background-color: #EEEEEE;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.indent {
    padding-left: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.center, li, a {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

li {
    font-size: 20px;
    padding: 0.25em;
    list-style-type: none;
}
